---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Beranda | Jeep Kemuning">
  <section class="relative w-full h-[100svh] flex flex-col justify-center items-center bg-brand-dark pt-20">
    <h1 class="font-heading text-5xl md:text-7xl font-bold text-white">
      Scaffold Astro <span class="text-brand-mustard">Siap!</span>
    </h1>
  </section>
</Layout>